<div class="container p-5">
  <div class="text-justify">
    <h1 class="text-center pb-5">A propos</h1>

    <h2>Histoire</h2>
    <p>Hotel Fictif, créé par <a href="https://fr.wikipedia.org/wiki/Garcimore" target="_blank">Garcimore</a> il y a près de 30 ans, est spécialiste de l’activité Bien-être dans le Tourisme. Le monde du Spa connaît une évolution exponentielle et il est devenu un secteur très porteur depuis quelques années.</p>

    <h2>Savoir faire</h2>
    <p>Hotel Fictif a réorienté son activité de tourisme en créant le premier concept d’Hôtel Spa en Polynésie Française. Cette association est devenue depuis un mix produit incontournable de la plupart des hôtels milieu ou haut de gamme.</p>
    <p>Le Spa reste un fort vecteur d’image, de notoriété, de fidélisation de clientèle, en développant de nombreux concepts de Spa existants ; allant du Spa urbain (Day Spa) ou Spa périurbain de grande taille (VitalSpa) au Resort hôtelier comme Vitalparc en fait partie.</p>

    <h2>Notre objectif</h2>
    <p>Proposer un séjour inoubliable dans un endroit qui représente le Paradis sur Terre</p>
    
    <p>Nous espérons vous retrouver prochainement dans notre Hotel que vous découvrirez au fil des pages de ce site.</p>
    <p>L'équipe d'HOTEL FICTIF <a routerLink="/contact">se tient à votre disposition</a> pour tout renseignement.</p>
  </div>
</div>
